<h1 class="index-title">Editing User</h1>
<%= render 'form', user: @user %>

<div class="d-flex actions edit-back-form">
  <%= button_to "Show", @user, :method => "get", class:"btn btn-info btn-sm" %>
  <%= button_to "Back", users_path, :method => "get", class:"btn btn-warning btn-sm back"%>
</div>